* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #34495e;
    color: #ecf0f1;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.game-board {
    margin: 0 auto;
    width: 80%;
    height: 80vh;
    background-color: #2c3e50;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs-wrapper {
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    margin-left: 50px;
    display: inline-block;
}

.inputs label,
.inputs span {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.inputs span {
    margin-right: 30px;
}

.range-lower,
.range-upper {
    margin: 15px;
    padding: 15px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    min-width: 50px;
    max-width: 100px;
    background-color: #2c3e50;
    border: none;
    color: white;
    border-radius: 10px;
}



.btn {
    width: 120px;
    height: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
}

.btn:last-child {
    margin-right: 50px;
}

.add-button {
    background-color: #00a8ff;
}

.start-button {
    background-color: #2ecc71;

}

.stop-button {
    background-color: #e74c3c;

}

.ball {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    animation: 4s linear 0s 1 slideDown;
    animation-fill-mode: forwards;
    cursor: pointer;
    opacity: 0.9;
    top: -60px;
}

@keyframes slideDown {
    0% {
        top: -60;
    }

    100% {
        top: 100%;
    }
}

.ball-1 {
    background-color: #f39c12;
}

.ball-2 {
    background-color: #d35400;
}

.ball-3 {
    background-color: #c0392b;
}

.ball-4 {
    background-color: #e74c3c;
}

.ball-5 {
    background-color: #00a8ff;
}

.sadBall {
    opacity: 0;
    transform: scale(2);
    transition: all 1s;
}